.row {
    margin-top: 20px;
}
  
.card {
    margin-bottom: 20px;
}
  
.list-group-item {
    cursor: pointer;
}

.header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}