<!-- todo-container.component.html -->
<div class="container mt-5">
  <div class="header">
    <h2>Todo List</h2>
    <button class="btn btn-primary" (click)="openCreateTodoModal()">Create</button>
  </div>

  <div class="row" cdkDropListGroup>
    <div class="col" cdkDropList [cdkDropListData] = "metaData.pendingItems" (cdkDropListDropped)="onDrop('pendingItems', $event)" id="pendingItems">
      <app-task-container [title]="'Pending'" [taskList]="metaData.pendingItems"></app-task-container>
    </div>

    <div class="col" cdkDropList [cdkDropListData] = "metaData.inProgressItems" (cdkDropListDropped)="onDrop('inProgressItems', $event)" id="inProgressItems">
      <app-task-container [title]="'In Progress'" [taskList]="metaData.inProgressItems"></app-task-container>
    </div>

    <div class="col" cdkDropList [cdkDropListData] = "metaData.doneItems"  (cdkDropListDropped)="onDrop('doneItems', $event)" id="doneItems">
      <app-task-container [title]="'Done'" [taskList]="metaData.doneItems"></app-task-container>
    </div>
  </div>
</div>
